<mat-card class="card-details" [ngStyle]="setBackgroundColor()">
    <mat-card-header class="flex">
        <mat-card-title>{{tache.libelle}}</mat-card-title>
        @if(tache.statut == "terminée"){
            <mat-icon>done</mat-icon>
        }
        @else if(tache.statut == "à venir"){
            <mat-icon>access_time</mat-icon>
        }

        @else if(tache.statut == "en cours"){
            <mat-icon>hourglass_full</mat-icon>
        }

    </mat-card-header>
    <mat-card-content>
        <p>
            {{tache.description}}
        </p> 
        <mat-form-field class="full-width">
            <mat-label>Statut</mat-label>
            <mat-select (valueChange)="changeStatut($event)" [(value)]="tache.statut" >
              @for (valeurStatut of valeursStatut; track valeurStatut) {
                <mat-option  [value]="valeurStatut">{{valeurStatut}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="deleteTache()">
            <mat-icon>delete</mat-icon>
          </button>

    </mat-card-content>
</mat-card>

