.card-details{
    max-width: 400px;
    min-width: 400px;
    margin-top: 8px;
}

.full-width{
    max-width: 100%;
    min-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.container-button{
    display: flex;
    justify-content: end;
    gap: 8px;
}

.error{
    color: red;
}